@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --primary-color: #2b5876;
    --secondary-color: #4e4376;
    --weak-color: #fc8181;
    --medium-color: #fbd38d;
    --strong-color: #68d391;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    width: 90%;
    max-width: 450px;
}

h1 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 0.5rem;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.password-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: transparent;
    padding: 0 1rem 0 0;
    letter-spacing: 1px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    border: 1px solid #eee;
    border-radius: 4px;
}

#password {
    width: 100%;
    padding: 1.1rem;
    padding-right: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#copy-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 50%;
    /* background-color: #eee; */
    margin-left: 1rem;
    color: #888;
    transition: color 0.2s ease;
}

#copy-btn:hover {
    color: var(--primary-color);
}

#copy-btn:active {
    color: #888;
}

.options {
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

label {
    font-size: 0.9rem;
    font-weight: 500;
}


.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    appearance: none;
    border-radius: 4px;
    position: relative;
    transition: all 0.3s;
}

input[type="checkbox"]:checked {
    background-color: var(--primary-color);
}

input[type="checkbox"]:checked::after {
    content: "\2714";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

#length-value {
    font-weight: 600;
    color: var(--primary-color);
    width: 30px;
    padding: 2px;
    text-align: center;
    font-size: 0.9rem;
    background-color: hsl(180, 25%, 90%);
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: all 0.3s;
    box-shadow: 0 4px 8px hsl(180, 25%, 70%);
}

button:hover {
    transform:  translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.strength-container {
    margin-top: 0.5rem;
}

.strength-container p{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.strength-meter {
    width: 100%;
    height: 6px;
    background-color: #eee;
    margin-top: 0.6rem;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
}

.strength-bar {
    height: 100%;
    width: 0;
    min-width: 5%;
    background-color: var(--weak-color);
    transition: all 0.3s ease;
    border-radius: 5px;
}